<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ja.burhanrashid52.whattodo">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="WhatTodo">
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale"
      android:hardwareAccelerated="true"
      android:launchMode="singleTop"
      android:theme="@style/LaunchTheme"
      android:windowSoftInputMode="adjustResize">
      <meta-data
        android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
        android:value="true"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <meta-data
      android:name="flutterEmbedding"
      android:value="2"/>
  </application>
</manifest>